---
---
@import "{{ site.theme }}";

header {
    text-align: center;
    ul {
        a {
            line-height: 2;
            font-size: 11pt;
        }
        a:hover {
            background: #dadada;
            font-weight: normal;
        }
        a.active {
            font-weight: bold;
        }
    }
}
